<div id="commonlist">
    <!-- <button type="button"
    class="btn btn-primary"
    (click)="toggleFilter()">
    {{buttonName}}</button> -->
    <button class="ml-2 rounded-md  bg-red-600 hover:bg-red-800 px-1 py-1 text-white transition ease-in-out delay-75 hover:-translate-y-1 hover:scale-110 duration-150" (click)="removeCreateDelete()">Only Delete</button>

    <ul class="list-none pl-1">
                @for (row of gridData |  paginate: { itemsPerPage: itemsPerPages, currentPage: page }; track $index) {
                  <div class="row-container mx-1 py-3 shadow-md rounded ">
                    @for (col of columnDefs ; track $index) {
                      <span id="span-li" class="px-7 text-base">
                          {{row[col.Field]}}
                      </span>
                    }
                    <span class="p-2 float-right">
                      @if (IsHidden.Create==false) {
                          <span class="px-1 cursor-pointer" (click)="Action_Create($event)"><i class="fa fa-plus-square"></i></span>
                      }@else if (IsHidden.Create==true) {}
                      @if (IsHidden.Delete==false) {
                        <span class="px-1 cursor-pointer" (click)="Action_Delete(row)"><i class="fa fa-trash-o"></i></span>
                    }@else if (IsHidden.Delete==true) {}

                    </span>
                  </div>
                  
                }
    </ul>
    <br>
      <div>
        <pagination-controls (pageChange)="pagechange($event)"></pagination-controls>
        <label id="page-selection">Items per page:
          <select [(ngModel)]="itemsPerPages" class="border border-gray-500 rounded">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
        </label>
      </div>
</div>
