<div id="commonlist">
    <!-- <button type="button"
    class="btn btn-primary"
    (click)="toggleFilter()">
    {{buttonName}}</button> -->
    <ul class="list-none pl-1">
                @for (row of gridData |  paginate: { itemsPerPage: itemsPerPages, currentPage: page }; track $index) {
                  <div class="row-container mx-1 py-3 shadow-md rounded ">
                    @for (col of columnDefs ; track $index) {
                      <span id="span-li" class="px-7 text-base">
                          {{row[col.Field]}}
                      </span>
                    }
                  </div>
                  
                }
    </ul>
    <br>
      <div>
        <pagination-controls (pageChange)="pagechange($event)"></pagination-controls>
        <label id="page-selection">Items per page:
          <select [(ngModel)]="itemsPerPages" class="border border-gray-500 rounded">
            <option value="5">5</option>
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
          </select>
        </label>
      </div>
</div>
