
<div class="container ml-2 mt-2">
    
    
    <!-- <button class="ml-2 rounded-md  bg-red-600 hover:bg-red-800 px-1 py-1 text-white transition ease-in-out delay-75 hover:-translate-y-1 hover:scale-110 duration-150" (click)="removeCreateEdit()">Remove</button> -->
    <button class="ml-2 rounded-md  font-medium bg-emerald-600 hover:bg-emerald-800 px-2 py-1 text-white transition ease-in-out delay-75 hover:-translate-y-1 hover:scale-110 duration-150" (click)="BulkEdit()">Bulk Edit</button>
    @if (isBulkEdit) {
      <app-bulk-view [columnDefs]="columnDefs" [gridData]="gridData"></app-bulk-view>
    }@else {
      <button class="ml-2 items-center justify-center rounded-md px-2 py-1 mb-2 font-medium text-white bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 " (click)="toggleFilter()">{{buttonName}}</button>

        @for (col of columnDefs; track $index) {
          @if (col.DataType=='Date') {
            <app-date (datepicker)="datepicker"(dateSelected)="onDateSelected($event)"></app-date>
<!-- 
                <label>Date And Time Format:
                <select [(ngModel)]="datepicker"  class="border border-gray-500 rounded">
                  <option value="fullDate">fullDate</option>
                  <option value="MMM dd, yyyy 'at' hh:mm a">full Date with Time</option>
                  <option value="shortTime">Short Time</option>
                </select>
              </label> -->
          }
        }
      

    <table class="border-collapse border border-slate-500 bg-slate-50">
      <caption class="caption-top">Caption: Table View</caption>
      <thead >
          @if (isFilter) {
            <tr>
              <th class="fancy-checkbox">
                  <label class="fancy-checkbox">
                    <input class="select-all" type="checkbox" name="checkbox" [(ngModel)]="GridCheckAll" [ngModelOptions]="{standalone: true}"
                      (change)="getGridCheckAll($event)">
                    <span></span>
                  </label>
                </th>
              @for (headers of columnDefs; track $index) {
                  <th class="border border-slate-400 p-2 text-center  hover:bg-slate-200 hover:cursor-pointer" ><a (click)="getsorting(headers)">{{headers.Name}}</a>
                      <div>
                          <input  id="searchbox" type="text" class="grid-search-textbox  border border-black border-opacity-40 rounded" (keyup)="getsearchfilter($event)"
                            [(ngModel)]="GridFilter[headers.Field]"  [ngModelOptions]="{standalone: true} ">
                        </div></th>
              }
              @if (isEdit||isCreate||isDelete) {
                  <th  class="border border-slate-400 p-2 text-center  hover:bg-slate-200 hover:cursor-pointer" [ngClass]="{'hidden': ((isEdit && IsHidden.Edit) && (isDelete && IsHidden.Delete) && (isCreate && IsHidden.Create))|| (IsHidden.All)}">{{"Action"}}</th>
              }
            </tr>
            } @else {
              <tr >
                  <th class="fancy-checkbox">
                      <label class="fancy-checkbox">
                        <input class="select-all" type="checkbox" name="checkbox" [(ngModel)]="GridCheckAll" [ngModelOptions]="{standalone: true}"
                          (change)="getGridCheckAll($event)">
                        <span></span>
                      </label>
                    </th>
                  @for (headers of columnDefs; track $index) {
                      <th class="border border-slate-400 p-2 text-center  hover:bg-slate-200 hover:cursor-pointer"><a (click)="getsorting(headers)" [hidden]="isFilter">{{headers.Name}}</a></th>
                  }
                  @if (isEdit||isCreate||isDelete) {
                      <th  class="border border-slate-400 p-2 text-center  hover:bg-slate-200 hover:cursor-pointer" [ngClass]="{'hidden':IsHidden.All}">{{"Action"}}</th>
                  }
                </tr>
            }
          
      </thead>
      
      <tbody>
          @for (row of gridData |  paginate: { itemsPerPage: itemsPerPages, currentPage: page }; track $index) {
            <tr>
                <td class="width45">
                    <label class="fancy-checkbox">
                      <input id="table_row_checkbox_{{$index}}" class="checkbox-tick" type="checkbox" name="checkbox" [(ngModel)]="row.isGridSelect" [ngModelOptions]="{standalone: true}"
                        (change)="getCheckboxCheckedRules($event,$index,row)">
                      <span></span>
                    </label>
                    
                  </td>
                @for (col of columnDefs ; track $index) {
                    <td class="border border-slate-400 p-2 text-center  hover:bg-slate-200">
                        
                        @if (col.DataType=="Date") {
                            {{row[col.Field] |date:selectedDateFormat }}
                            
                        }
                        
                        @else {
                        {{row[col.Field]}}
                        
                        }
                    </td>
                }
                <td class="border border-slate-400 p-2 text-center  hover:bg-slate-200">
                  
                
                <span class="px-1 cursor-pointer">
                  <app-delete [nowDelete]="false"   [gridData]="row" (deleteMethod)="deleteAdata($event.data)"></app-delete>
                </span>
                

                </td>
           }
        

      </tbody>
  </table>
  <br>

  
  <div>
      <pagination-controls (pageChange)="pagechange($event)"></pagination-controls>
      <label id="page-selection">Items per page:
        <select [(ngModel)]="itemsPerPages" (change)="itemsPerPageChanged()"  class="border border-gray-500 rounded">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="15">15</option>
          <option value="20">20</option>
        </select>
      </label>
    </div>
    }
</div>
